.experiencia {
  max-width: 1200px;
  padding: 20px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.experiencia img{
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
}

.projetos{
  padding-bottom: 10px;
  color: #c4c4c4;
  text-transform: uppercase;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  transition:.3s
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#CF2E9F, #55D8B6);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #525252;
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-content: center;
}

.empresa-habilidades li a {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background:#D9D9D9;
  padding: 8px 12px;
  transition: .5s;
}

.empresa-habilidades li a:hover{
  background:#BFBFBF;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #525252;
  }

  .experiencia img{
    display: none;
  }
 
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
